# Proactive Policing Time Series
__Loren Atherley
__
__&
__Carl Sharpe

In [1]:
%matplotlib inline

In [2]:
from IPython.display import HTML, display
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
from datetime import datetime
import json
import parser
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
import dateutil
from dateutil import parser
import re 
import sys

In [4]:
crimes = pd.read_csv("Crime_Data.csv")
calls = pd.read_csv("Call_Data.csv")

In [6]:
display(crimes.head())

,Report Number,Occurred Date,Occurred Time,Reported Date,Reported Time,Crime Subcategory,Primary Offense Description,Precinct,Sector,Beat,Neighborhood
0,20080000465209,12/13/1908,2114.0,12/13/2008,2114.0,DUI,DUI-LIQUOR,EAST,G,G2,CENTRAL AREA/SQUIRE PARK
1,20100000202011,06/15/1964,0.0,06/15/2010,1031.0,FAMILY OFFENSE-NONVIOLENT,CHILD-OTHER,WEST,Q,Q2,QUEEN ANNE
2,2012000023437,01/01/1973,0.0,01/25/2012,1048.0,SEX OFFENSE-OTHER,SEXOFF-OTHER,NORTH,N,N2,NORTHGATE
3,20130000327785,06/01/1974,0.0,09/09/2013,1117.0,SEX OFFENSE-OTHER,SEXOFF-OTHER,UNKNOWN,NaN,NaN,UNKNOWN
4,20160000289384,01/01/1975,0.0,08/11/2016,1054.0,SEX OFFENSE-OTHER,SEXOFF-OTHER,UNKNOWN,NaN,NaN,UNKNOWN

In [7]:
crimes_subset = crimes.iloc[0:100]

In [ ]:
len(calls)

In [14]:
month = []
day = []
year = []

for i in range (0, len(crimes_subset)):
    this_date = str(crimes_subset['Occurred Date'][i])
    month.append(this_date[:2])
    day.append(this_date[3:5])
    year.append(this_date[6:10])

    sys.stdout.write("\r" + "Parsing Dates.. Processing Record: " + str(i) + " of " + str(len(crimes_subset)))
    sys.stdout.flush()

Parsing Dates.. Processing Record: 99 of 100

In [20]:
crimes_subset['Occured Year'] = year
crimes_subset['Occured Day'] = day
crimes_subset['Occured Month'] = month

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
crimes_subset.head()

,Report Number,Occurred Date,Occurred Time,Reported Date,Reported Time,Crime Subcategory,Primary Offense Description,Precinct,Sector,Beat,Neighborhood,Occured Year,Occured Day,Occured Month
0,20080000465209,12/13/1908,2114.0,12/13/2008,2114.0,DUI,DUI-LIQUOR,EAST,G,G2,CENTRAL AREA/SQUIRE PARK,1908,13,12
1,20100000202011,06/15/1964,0.0,06/15/2010,1031.0,FAMILY OFFENSE-NONVIOLENT,CHILD-OTHER,WEST,Q,Q2,QUEEN ANNE,1964,15,06
2,2012000023437,01/01/1973,0.0,01/25/2012,1048.0,SEX OFFENSE-OTHER,SEXOFF-OTHER,NORTH,N,N2,NORTHGATE,1973,01,01
3,20130000327785,06/01/1974,0.0,09/09/2013,1117.0,SEX OFFENSE-OTHER,SEXOFF-OTHER,UNKNOWN,NaN,NaN,UNKNOWN,1974,01,06
4,20160000289384,01/01/1975,0.0,08/11/2016,1054.0,SEX OFFENSE-OTHER,SEXOFF-OTHER,UNKNOWN,NaN,NaN,UNKNOWN,1975,01,01

In [22]:
crimes_subset.to_csv('CrimesWPDates.csv')

In [ ]:
#month = []
#day = []
#year = []

#for i in range (0, len(calls)):
    this_date = str(calls['Original Time Queued'][0])
    month.append(this_date[:2])
    day.append(this_date[3:5])
    year.append(this_date[6:10])

    sys.stdout.write("\r" + "Parsing Dates.. Processing Record: " + str(i) + " of " + str(len(calls)))
    sys.stdout.flush()

In [ ]:
parsed_dates = pd.DataFrame({'month': this_date, 'day': this_date, 'year': this_date}, index = [1])
parsed_dates.head()