# Proactive Policing Time Series
__Loren Atherley
__
__&
__Carl Sharpe

In [2]:
%matplotlib inline

In [3]:
from IPython.display import HTML, display
display(HTML("<style>.container { width:100% !important; }</style>"))

In [4]:
from datetime import datetime
import json
import parser
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
import dateutil
from dateutil import parser
import re 
import sys

In [49]:
crimes = pd.read_csv("Crime_Data.csv")
calls = pd.read_csv("Call_Data.csv")

In [56]:
crimes = pd.DataFrame

In [57]:
CrimeDate = pd.to_datetime(crimes['Occured Date'], format = '%Y%m%d %H:%m:%s', errors = 'ignore')
CallDate = pd.to_datetime(calls['Original Time Queued'], format = '%Y%m%d %H%m%s', errors = 'ignore')

TypeError: 'type' object has no attribute '__getitem__'

In [53]:
type('CallDate')

str

In [52]:
CallDate.head()

0    06/02/2009 03:35:46 AM
1    06/02/2009 03:43:08 AM
2    06/02/2009 03:47:24 AM
3    06/02/2009 03:48:39 AM
4    06/02/2009 03:49:37 AM
Name: Original Time Queued, dtype: object

In [8]:
len(calls)

3505132

In [9]:
month = []
day = []
year = []

for i in range (0, len(crimes)):
    this_date = str(crimes['Occured Date'][0])
    month.append(this_date[:2])
    day.append(this_date[3:5])
    year.append(this_date[6:10])

    sys.stdout.write("\r" + "Parsing Dates.. Processing Record: " + str(i) + " of " + str(len(crimes)))
    sys.stdout.flush()

Parsing Dates.. Processing Record: 475392 of 475393

In [17]:
#month = []
#day = []
#year = []

#for i in range (0, len(calls)):
    this_date = str(calls['Original Time Queued'][0])
    month.append(this_date[:2])
    day.append(this_date[3:5])
    year.append(this_date[6:10])

    sys.stdout.write("\r" + "Parsing Dates.. Processing Record: " + str(i) + " of " + str(len(calls)))
    sys.stdout.flush()

Parsing Dates.. Processing Record: 3505131 of 3505132

In [30]:
parsed_dates = pd.DataFrame({'month': this_date, 'day': this_date, 'year': this_date}, index = [1])
parsed_dates.head()

                      day                   month                    year
1  06/02/2009 03:35:46 AM  06/02/2009 03:35:46 AM  06/02/2009 03:35:46 AM