# Proactive Policing Time Series
__Loren Atherley
__Carl Sharpe

In [2]:
%matplotlib inline

In [3]:
from IPython.display import HTML, display
display(HTML("<style>.container { width:100% !important; }</style>"))

In [4]:
from datetime import datetime
import json
import parser
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
import dateutil
from dateutil import parser
import re 
import sys

In [5]:
crimes = pd.read_csv("Crime_Data.csv")
calls = pd.read_csv("Call_Data.csv")

In [12]:
crimes.head()

,Report Number,Occured Date,Occured Time,Reported Date,Reported Time,Crime Subcategory,Primary Offense Description,Precinct,Sector,Beat,Neighborhood
0,20080000465209,12/13/1908,2114.0,12/13/2008,2114.0,DUI,DUI-LIQUOR,EAST,G,G2,CENTRAL AREA/SQUIRE PARK
1,20100000202011,06/15/1964,0.0,06/15/2010,1031.0,FAMILY OFFENSE-NONVIOLENT,CHILD-OTHER,WEST,Q,Q2,QUEEN ANNE
2,2012000023437,01/01/1973,0.0,01/25/2012,1048.0,SEX OFFENSE-OTHER,SEXOFF-OTHER,NORTH,N,N2,NORTHGATE
3,20130000327785,06/01/1974,0.0,09/09/2013,1117.0,SEX OFFENSE-OTHER,SEXOFF-OTHER,UNKNOWN,NaN,NaN,UNKNOWN
4,20160000289384,01/01/1975,0.0,08/11/2016,1054.0,SEX OFFENSE-OTHER,SEXOFF-OTHER,UNKNOWN,NaN,NaN,UNKNOWN

In [7]:
type('occ_datetime')

str

In [8]:
len(calls)

3505132

In [9]:
month = []
day = []
year = []


for i in range (0, len(crimes)):
    this_date = str(crimes['Occured Date'][0])
    month.append(this_date[:2])
    day.append(this_date[3:5])
    year.append(this_date[6:10])

    sys.stdout.write("\r" + "Parsing Dates.. Processing Record: " + str(i) + " of " + str(len(crimes)))
    sys.stdout.flush()

Parsing Dates.. Processing Record: 475392 of 475393

In [17]:
month = []
day = []
year = []

for i in range (0, len(calls)):
    this_date = str(calls['Original Time Queued'][0])
    month.append(this_date[:2])
    day.append(this_date[3:5])
    year.append(this_date[6:10])

    sys.stdout.write("\r" + "Parsing Dates.. Processing Record: " + str(i) + " of " + str(len(calls)))
    sys.stdout.flush()

Parsing Dates.. Processing Record: 3505131 of 3505132

In [22]:
ts = pd.DataFrame()

In [21]:
parsed_dates = pd.DataFrame(pd.as_date({'month': this_date, 'day': this_date, 'year': this_date}))

AttributeError: 'module' object has no attribute 'as_date'